.markdown-node * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

:root {
    --color-canvas-default: #ffffff;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: hsla(210, 18%, 87%, 1);
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    margin-top: 0;
    margin-bottom: 16px;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

tr {
    background-color: var(--color-canvas-default);
    border-top: 1px solid var(--color-border-muted);
}

tr:nth-child(2n) {
    background-color: var(--color-canvas-subtle);
}

td,
th {
    padding: 6px 13px;
    border: 1px solid var(--color-border-default);
}

th {
    font-weight: 600;
}

table img {
    background-color: transparent;
}

/* New styles for columns */
.columns-list {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.columns-list h6 {
    margin-bottom: 5px;
    font-size: 0.9em;
    font-weight: bold;
}

.columns-list ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.column-item {
    position: relative;
    padding: 5px 20px;
    font-size: 0.8em;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 5px;
    background-color: #f8f8f8;
    min-height: 30px;
    display: flex;
    align-items: center;
}

.column-content {
    flex-grow: 1;
}

.handle {
    width: 8px;
    height: 8px;
    background-color: #555;
    border-radius: 50%;
    position: absolute;
    top: calc(50% + 1px); /* Adjust the '1px' value as needed */
    transform: translateY(-50%);
}

.handle-right {
    right: -4px;
}

.handle-left {
    left: -4px;
}

.column-item:hover {
    background-color: #e8e8e8;
}

.handle.connectable:hover {
    background-color: #00ff00;
}

/* Adjust the main node styling if needed */
.markdown-node {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ddd;
    width: 250px; /* Increased width */
}

.markdown-node p {
    margin-bottom: 5px;
}

/* Hide main node handles */
.markdown-node > .react-flow__handle {
    display: none;
}

/* Style for when hovering over a connectable column */
.columns-list li:hover {
    background-color: #e8e8e8;
}

/* Style for when dragging a connection */
.react-flow__handle.connectable:hover {
    background-color: #00ff00;
}

.react-flow__edge-text {
  font-size: 12px;
  font-weight: bold;
  fill: #333;
  text-shadow: 1px 1px 2px white;
}
